/*
.*
!/include/
!/res/
!/src/
!.clang-format
!.clang-tidy
!.editorconfig
!.gitattributes
!.gitignore
!/CMakeLists.txt
!/CMakePresets.json
!/license.txt
!/make.cmd
!/makefile
!/portfile.cmake
!/readme.md
!/vcpkg-configuration.json
!/vcpkg.json
