/*
.*
*.aps
!/include/
!/res/
!/src/
!/.clang-format
!/.clang-tidy
!/.editorconfig
!/.gitattributes
!/.gitignore
!/CMakeLists.txt
!/CMakeSettings.json
!/CONTROL
!/license.txt
!/make.cmd
!/makefile
!/portfile.cmake
!/readme.md
